<section id="about" class="container content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <h2>TITRE H2</h2>

        <p>Zone de texte</p>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <h2>TITRE H2</h2>

          <p>Zone de texte</p>
        </div>
      </div>
    </br>
  </br>
  <a href="#savoir" class="btn btn-circle page-scroll">
    <i class="fa fa-angle-double-down animated"></i>
  </a>
</section>
