<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>TITRE H2 Contacts utiles</h2>
      <p>Zone de texte</p>
      <p>
        <a href="#">ADRESSE EMAIL</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/agenceaixit" class="btn btn-default btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/agenceaixit/" class="btn btn-default btn-lg">
            <i class="fa fa-facebook fa-fw"></i>
            <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="#" class="btn btn-default btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
