<section id="savoir" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>TITRE H2</h2>
        <p>Zone de texte</br>Zone de texte</p>
      <a href="#" class="btn btn-default btn-lg">BOUTON CTA</a>
    </div>
  </div>
</div>
</section>
