<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>TITRE H1</h1>
      <hr>
      <p>Zone de texte, accorche</p>
      <a href="#about" class="btn btn-primary btn-xl fadein page-scroll">BOUTON CTA</a>
    </div>
  </div>
</header>
